{% extends "base.html" %}
{% load static %}

{% block title %}
{{ recipe.title }}
{% endblock %}

{% block content %}
<div class="recipe-detail">
    <!-- Left Section: Ingredients and Instructions -->
    <div class="recipe-info">
      <div>
        <h2>Ingredients</h2>
        <ul>
          {% for ingredient in recipe.ingredients.splitlines %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h2>Instructions</h2>
        <p>{{ recipe.instructions|linebreaks }}</p>
      </div>
    </div>
  
    <!-- Right Section: Process Images -->
    <div class="recipe-images">
      {% if recipe.images.exists %}
      {% for image in recipe.images.all %}
      <img src="{{ image.image.url }}" alt="Process Image">
      {% endfor %}
      {% else %}
      <p>No process images available.</p>
      {% endif %}
    </div>
  </div>
  
  <!-- Back Button -->
  <div class="back-to-recipes">
    <a href="{% url 'recipes:recipe_list' %}" class="btn">Back to Recipes</a>
  </div>
</div>
{% endblock %}
