{% extends "base.html" %} {% load static %} {% block title %}Home{% endblock %}
{% block content %}
<!-- Hero Section -->
<div class="hero">
  <div class="hero-content">
    <h2>"Rolling Pin Ready? Let’s Bake!"</h2>
  </div>
  <div class="hero-image">
    <img
      src="{% static 'images/holly_ss_logo.png' %}"
      alt="Colorful pastries illustration"
    />
  </div>
</div>

<!-- Latest Recipes Section -->
<div class="homepage-content">
  <h2 class="section-heading">My Latest Recipes</h2>

  <div class="recipe-grid">
    {% for recipe in recipes %}
    <div class="recipe-card">
      <a href="{% url 'recipes:recipe_detail' recipe.id %}">
        {% if recipe.main_image %}
        <img src="{{ recipe.main_image }}" alt="{{ recipe.title }}" />
        {% else %}
        <img
          src="{% static 'images/default-recipe.jpg' %}"
          alt="Default Recipe"
        />
        {% endif %}
      </a>
      <h3>{{ recipe.title }}</h3>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
