{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="hero">
  <div class="hero-content">
    <h2>Learn to Bake, Love the Journey!</h2>
  </div>
  <div class="hero-image">
    <img
      src="{% static 'images/baking_illustration.jpg' %}"
      alt="Colorful pastries illustration"
    />
  </div>
</div>

<!-- Latest Recipes Section -->
<div class="homepage-content">
  <h2 class="section-title">Our Latest Recipes</h2>
  <div class="recipe-grid">
    {% for recipe in recipes %}
        <div class="recipe-card">
            {% if recipe.main_image %}
                <img src="{{ recipe.main_image.image.url }}" alt="{{ recipe.title }}">
            {% else %}
                <img src="{% static 'images/default-recipe.jpg' %}" alt="Default Recipe">
            {% endif %}
            <h3>{{ recipe.title }}</h3>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
